{% extends 'layout.html' %}
{% block head %}
{{ super() }}
    <script src="https://accounts.google.com/gsi/client" async defer></script>
{% endblock %}

{% block content %}
    <div style="display:grid;justify-content: center; align-items: center;padding: 2rem;">
        <div id="g_id_onload"
        data-client_id="877412399754-shou706hpt8q4llqenm6p93vthr4q28o.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-callback="onSignIn">
    </div>

    <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="filled_black"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left">
    </div>
</div>
<script>
    function onSignIn(googleCredential) {
        let id_token = googleCredential.credential;
        fetch(window.location.href, {
            method: 'POST',
            body: id_token.toString()
        })
        .then(response => response.text())
        .then(txt => {
            if (txt === 'ok') {
                let url = new URL(window.location.href);
                let target = url.searchParams.get("next") || '/';
                window.location.replace(target);
            }
        })
        .catch((error) => {
            console.log('Error', error)
        });
    }

    function signOut() {
        let auth2 = gapi.auth2.getAuthInstance();
        auth.signOut();
    }
    
</script>
{% endblock %}